{% extends 'base.html.twig' %}

{% block title %}Nouveau parcours{% endblock %}

{% block body %}
    <main class="main main__wrap">
        <h2 class="h2">Ajouter un parcours</h2>

        {{ include('course/_form.html.twig') }}
    </main>
{% endblock %}
