{% extends 'base.html.twig' %}

{% block title %}Modifier le type {{ type.name }}{% endblock %}

{% block body %}
    <main class="w-75 mx-auto">
        <h1>Modifier le type d'item</h1>
        {{ include('type/_form.html.twig', {'button_label': 'Modifier'}) }}
        {{ include('type/_delete_form.html.twig') }}
    </main>
{% endblock %}
