.text {
  &__blur {
    color: transparent;
    text-shadow: 0 0 10px #000;
  }
}

.font {
  &-serif {
    font-family: $font-serif;
  }
}

@for $i from 1 to 10 {
  $length: $i * 10;
  .ch-#{$length} {
    max-width: #{$length}ch;
  }
}