@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@font-face {
  font-family: Sushibrush;
  src: url(/public/assets/font/Sushibrush-Regular.ttf);
}

$font-serif: 'Sushibrush', serif;
$font-sans: 'Poppins', sans-serif;

$font-primary: #161616;
$font-white: #f2f2f2;
$bg-primary: #0066cc;
$danger: #ff0066;
$bg-danger: $danger;

$bg-dark: #003366;

$primary: #0056b3;
$primary-light: #4da2f5;

$custom-file-text: (
        en: "Browse",
        fr: "Parcourir"
);