@import url(https://fonts.googleapis.com/css?family=Lora:regular,500,600,700,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300italic,regular,italic,700,700italic,900,900italic);

$font-serif: 'Merriweather', serif;
$font-sans: 'Lora', sans-serif;

$font-primary: #161616;
$bg-primary: #ff0066;

$bg-dark: #003366;

$primary: #0066cc;
$primary-light: #ccccff;