@import url(https://fonts.googleapis.com/css?family=Lora:regular,500,600,700,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300italic,regular,italic,700,700italic,900,900italic);

$font-serif: 'Merriweather', serif;
$font-sans: 'Lora', sans-serif;

$font-primary: #161616;
$font-white: #f2f2f2;
$bg-primary: #0066cc;
$bg-danger: #ff0066;

$bg-dark: #003366;

$primary: #0056b3;
$primary-light: #4da2f5;

$custom-file-text: (
        en: "Browse",
        fr: "Parcourir"
);