{% extends 'base.html.twig' %}

{% block title %}Crédits{% endblock %}

{% block body %}
    <main class="main main__wrap pt-5">
        <div class="d-flex align-items-center">
            <div>
                <section>
                    <h2 class="h2 text-uppercase">StrasTour</h2>
                    <p class="credits__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequatur esse fugiat impedit modi? Deleniti explicabo iste officiis quaerat quia saepe. Animi commodi delectus deleniti ea esse hic iste libero modi, nam nesciunt nihil nostrum qui soluta sunt, ullam veritatis, vitae voluptate. Consequuntur harum libero nemo, quaerat ullam ut vitae!</p>
                </section>
                <section class="pt-5">
                    <h2 class="h2 pt-2 pb-2">Credits</h2>
                    <h3 class="h4 credits__function">Développeurs Front-End</h3>
                    <p class="credits__name">Éloi ANTZ, Christian TOMASINO</p>
                    <h3 class="h4 credits__function">Développeurs Back-end</h3>
                    <p class="credits__name">Loïc MURA, Sven REMOND</p>
                    <h3 class="h4 credits__function">Graphisme et charte graphique</h3>
                    <p class="credits__name">Éloi ANTZ, Christian TOMASINO</p>
                    <h3 class="h4 credits__function">Intégrateur</h3>
                    <p class="credits__name">Loïc MURA</p>
                </section>
            </div>
            {% if not is_mobile() and not is_tablet() %}
                <div>
                    <img class="credits__logo" src="{{ asset('assets/image/logo.png') }}" alt="Logo de Stastour">
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}
