{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
    <main class="main main__wrap pt-5">
        <div class="d-flex align-items-center">
            <div>
                <h2 class="h2">Mentions legales</h2>
                <h3 class="h5 credits__function">Responsable de la publication</h3>
                <p>Équipe StrasTour</p>
                <h3 class="h5 credits__function">Objectifs</h3>
                <p class="credits__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi, architecto aut libero molestiae odio quae sed temporibus! Aspernatur at commodi consectetur cum ea molestiae nulla odit perferendis porro praesentium.</p>
                <h3 class="h5 credits__function">Nous contacter</h3>
                <p>Par email : contact@strastour.fr</p>
                <h3 class="h5 credits__function">Utilisation des cookies</h3>
                <p class="credits__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eius expedita explicabo quo reiciendis! Architecto cum distinctio eligendi enim, id illo, modi mollitia necessitatibus non provident ratione saepe, ut velit vitae voluptate. Aliquam, cum dolorem ducimus harum inventore ipsa necessitatibus placeat quas temporibus veritatis! Aliquam aliquid consectetur cumque et sit.</p>
                <h3 class="h5 credits__function">Respect de votre vie privée</h3>
                <p class="credits__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aspernatur eligendi excepturi maiores repudiandae sint vitae? At possimus quas vero! Consequatur eveniet officiis tempora voluptatibus. Animi aspernatur aut commodi consequatur distinctio ea est facere, fugiat iusto molestiae, obcaecati, provident quae sint tempora totam voluptas voluptate.</p>
            </div>
            {% if not is_mobile() and not is_tablet() %}
                <div class="pl-4">
                    <img class="credits__logo" src="{{ asset('assets/image/logo.png') }}" alt="Logo de
                    StrasTour">
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}