input[type="text"] {
  border-radius: 4px;
  border: 1px solid rgb(206, 212, 218);
  font-size: 1rem;
}

input[type="checkbox"] {
  position: relative;
}

.form-check {
  padding: 0;
  display: flex;

  label {
    margin-left: .5rem;
  }
}

.form {
  &__link {
    &--redirect {
      color: $primary;
    }
  }

  &__image {
    max-width: 150px;
  }
}

.custom-file-label {
  &::after {
    content: 'Parcourir';
  }
}
