.link__arrow {
  margin-top: -2px;
  height: 1rem;

  &--right {
    transform: rotate(180deg);
  }
}

.links {
  position: relative;
  @media screen and (min-width: 568px) {
    height: 2rem;
  }

  .nav__link {
    display: block;
    text-align: center;
    padding-top: .75rem;
    @media screen and (min-width: 568px) {
      position: absolute;
      padding-top: 0;
      top: 1rem;

      &--previous {
        left: 0;
      }

      &--next {
        right: 0;
      }
    }
  }
}

.place {
  &__picture {
    width: 100%;
  }
}