<section style="height: 25vh" class="p-3 text-white d-flex justify-content-center
align-items-center w-100 hud__full" id="hud">
    <div class="hud hud__menu d-none" id="hud-menu"></div>
    <div class="hud hud__items p-1" id="hud-equipement">
        <div class="items items__active m-1">
            <span class="items__quantity">0</span>
            <span class="items__keytouch">1</span>
        </div>
        <div class="items m-1">
            <span class="items__quantity">0</span>
            <span class="items__keytouch">2</span>
        </div>
        <div class="items m-1">
            <span class="items__quantity">0</span>
            <span class="items__keytouch">3</span>
        </div>
        <div class="items m-1">
            <span class="items__quantity">0</span>
            <span class="items__keytouch">4</span>
        </div>
        <div class="items m-1">
            <span class="items__quantity">0</span>
            <span class="items__keytouch">5</span>
        </div>
        <div class="items m-1">
            <span class="items__quantity">0</span>
            <span class="items__keytouch">6</span>
        </div>
    </div>
    <div class="hud hud__player" id="hud-player">
        <div class="player__info player__health">
            <div class="player__health--update"></div>
            <p class="player__health--value"></p>
        </div>
        <div class="player__info player__level"><p class="player__level--value"></p></div>
        <div class="player__info player__exp">
            <div class="player__exp--update"></div>
            <p class="player__exp--value"></p>
        </div>
    </div>
    <div class="hud hud__level" id="hud-level">
        <p id="course" class="hud__text">Parcours:</p>
        <p id="place" class="hud__text">Étape:</p>
        <p id="difficulty" class="hud__text">Difficulté:</p>
    </div>
    <div id="command-infos" class="command">

    </div>
    <div id="hud-interactive-panel" class="panel panel--hidden">
        <button class="quit">X</button>
        <div id="hud-select-level" class="panel__selectLevel panel--hidden">
            {% for course in courses %}
                <div class="panel__selectLevel__level">
                    <h1>{{ course.name }}</h1>
                    <button id="select-level" data-id="{{ course.id }}" data-name="{{ course.name
                    }}">Jouer</button>
                </div>
            {% endfor %}
        </div>
    </div>

</section>