{% extends 'base.html.twig' %}
{% block title %}Jeu{% endblock %}
{% block stylesheets %}
  {{ encore_entry_link_tags("game") }}
{% endblock %}

{% block header %}{% endblock %}
{% block body %}
    <main class="d-flex flex-column w-100">
        {% include '/game/hud.html.twig' %}
        <section class="position-relative loader loader__open" style="height: 75vh"
                 id="game_container"></section>
        <script>
            const USER = {{ user|json_encode|raw }};
            var ID_LEVEL = {{ course }};

            const CANVAS = document.createElement('canvas');
            CANVAS.classList = 'canvasGame';
            CANVAS.width = 0;
            CANVAS.height = 0;
            const CTX = CANVAS.getContext('2d');
            const gameContainer = document.getElementById('game_container');
            gameContainer.appendChild(CANVAS);
        </script>
    </main>
{% endblock %} {% block footer %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags("game") }}
{% endblock %}
