{% extends 'base.html.twig' %}

{% block title %}Ajouter un bonus{% endblock %}

{% block body %}
    <main class="mx-auto w-75">
        <h2>Ajouter un nouveau bonus</h2>
        {{ include('bonus/_form.html.twig') }}
    </main>
{% endblock %}
