<form method="post" action="{{ path('place_delete', {'id': place.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce lieu ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ place.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
