{% extends 'base.html.twig' %}

{% block title %}Modifier {{ place.name }}{% endblock %}

{% block body %}
    <main class="main main__wrap">
        <h2 class="h2">Modifier le lieu</h2>

        {{ include('place/_form.html.twig', {'button_label': 'Modifier'}) }}
        {{ include('place/_delete_form.html.twig') }}
    </main>
{% endblock %}
