{% extends 'base.html.twig' %}

{% block title %}Nouveau lieu{% endblock %}

{% block body %}
    <main class="main main__wrap">
        <h2 class="h2">Ajout d'un lieu</h2>

        {{ include('place/_form.html.twig') }}
    </main>
{% endblock %}
