{% extends 'base.html.twig' %}

{% block title %}Modifier {{ item.name }}{% endblock %}

{% block body %}
    <main class="w-75 mx-auto">
        <h2>Modifier l'item</h2>
        {{ include('item/_form.html.twig', {'button_label': 'Modifier'}) }}
        {{ include('item/_delete_form.html.twig') }}
    </main>
{% endblock %}
