<footer class="d-flex justify-content-center py-2 mt-4 | footer">
    <a class="mx-3 | footer__link" href="{{ path('credentials_credits') }}">Crédits</a>
    <a class="mx-3 | footer__link" href="{{ path('credentials_legals') }}">Mentions légales</a>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_index') }}" class="mx-3 | footer__link">Panneau d'administration</a>
    {% endif %}
</footer>