{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <main class="mx-auto w-75">
        <h2>Connectez-vous</h2>
        {% include 'user/_login.html.twig' %}
        <p>Vous n'êtes pas encore membre ? <a href="{{ path('user_new') }}">Je m'inscrit</a></p>
    </main>
{% endblock %}